* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "custom-font";
  src: url("/fonts/CroissantOne-Regular.ttf")
}

@font-face {
  font-family: "custom-font2";
  src: url("/fonts/YoungSerif-Regular.ttf");
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  background-color: #E0A96D;
}

.title {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: #201E20;
  font-family: custom-font;
  font-size: 30px;
  color: #DDC3A5;
}

.choices {
  display: flex;
  gap: 80px;
  text-align: center;
}


.choices span,
button,
.scores {
  background-color: #DDC3A5;
}

button:hover {
  background-color: #E0A96D;
}

.buttons {
  display: flex;
  gap: 25px;
  margin: 75px 0 30px;
}

.rock,
.paper,
.scissors {
  border: 2px solid #201E20;
  border-radius: .4rem;
  padding: 15px 0;
  width: 150px;
  font-size: 14px;
  font-family: custom-font2;
  color: #201E20;
}

h3 {
  font-family: custom-font2;
  font-size: 25px;
}

#choice-item1,
#choice-item2 {
  border: 2px dashed #201E20;
  padding: 10px 14px;
  font-size: 16px;
  font-family: custom-font2;
}

#round-result {
  font-family: custom-font2;
  font-size: 23px;
  color: #201E20;
  margin-bottom: 20px;
}

.scores {
  border: 2px solid #201E20;
  border-radius: .4rem;
  padding: 20px 88px;
  display: flex;
  gap: 80px;
  font-family: custom-font2;
  font-size: 18px;
  text-align: center;
}

#game-winner {
  font-family: custom-font2;
  font-size: 30px;
  margin-top: 20px;
  text-decoration: underline;
}